 * {
      margin: 0;
      padding: 0;

     }

     body {
     background-color: #F5F7FA;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     }
     
     .navbar {
      display: flex;
      justify-content: space-between;
      position: fixed;
      height: 70px;
      top: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to right, #6366F1, rgb(7, 32, 109));
      color: white;
      padding: 40px;

     }

      .nav1 {
        display: ;
        margin-top: px;
        margin-left: 25px;
        margin-right: 100px;
        font-size: 70px;
        
      }

      .nav2 {
       display: flex;
       align-items: center;

      }

      .logo {
       font-size: 20px;
       white-space: nowrap;
       

      }

      .home, .about, .services {
       margin-right: 60px;
       font-size: 36px;
       cursor: pointer;
       transition: 0.4s;
       
       }
       
       .home:hover {
        color: #74b9ff;

       }

       .about:hover {
        color: #74b9ff;

       }

       .services:hover {
        color: #74b9ff;

       }
        
      i {
       font-size: 70px;

      }

      .main {
        background-color: #3d3d3d;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        padding: 80px 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin: auto;
        
       }

      .pic {
       
       margin-bottom: 70px;
       margin-right: 90px;
            
      }

      .mypic {
       width: 600px;
       margin-top: 200px;
       border-radius: 30px;

      }

      .aboutme {
       margin-right: 300px;
       margin-left: px;
       text-align: center;
       line-height: 40px;
       font-size: 28px;
       flex: 1;
       max-width: 1300px;

      }

      .webdev {
       font-size: 120px;
       color: white;
       line-height: 140px;

      }

      .personaloverview {
       text-align: center;
       margin-bottom: 40px;
       font-size: 65px;
       line-height: 60px;
       color: #ffff;

      }

      .intro {
       /* width: 690px; */
       color: #dddddd;

      }


      .projectsintro {
        text-align: center;
        margin-top: 70px;

      }

      .projects {
       font-size: 60px;

      }

      .pp {
       line-height: 50px;
       font-size: 20px;

      }

      .projectsh1 {
        font-size: 40px;
        line-height: 45px;

      }

      .projectsh2 {
        font-size: 40px;
        line-height: 45px;

      }
      
      .projectsh3 {
        font-size: 40px;
        line-height: 45px;

      } 
       
       .projectsh4 {
        font-size: 40px;
        line-height: 45px;

       }

      .projectsp {
        font-size: 28px;
        margin-top: 30px;

      }

      .imganddescription1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
        height: 500px;
        background-color: white;

       }

       .chatgptdesc {
        text-align: center;
        width: 500px;
        margin-left: 100px;
        line-height: 30px;
        

       }

       .chatgptscr {
        width: 720px;
        margin-right: 100px;
        box-shadow: 0px 2px 3px 4px rgba(0,0,0,0.1);

       }

        .imganddescription2 {
         display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
        vertical-align: middle;
         background-color: white;
         height: 800px;

        }

        .recipescr {
          width: 720px;
        margin-left: 100px;
        box-shadow: 0px 2px 3px 4px rgba(0,0,0,0.1);

        }

        .recipedesc {
         text-align: center;
        width: 500px;
        margin-right: 100px;
        line-height: 30px;

        }

       .imganddescription3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
        vertical-align: middle;
         background-color: white;
         height: 500px;

       }
       
       .youtubedesc {
        text-align: center;
        width: 500px;
        margin-left: 100px;
        line-height: 30px;
       }

        .youtubescr {
        width: 720px;
        margin-right: 100px;
        box-shadow: 0px 2px 3px 4px rgba(0,0,0,0.1);

       }

       .imganddescription4 {
         display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
        vertical-align: middle; 
         background-color: white;
         height: 500px;

       }

       .flexboxscr {
          width: 720px;
        margin-left: 100px;
        box-shadow: 0px 2px 3px 4px rgba(0,0,0,0.1);

       }

       .flexboxdesc {
         text-align: center;
         width: 500px;
         margin-right: 100px;
         line-height: 30px;

       }

       .footersection {
        background-color: rgb(83, 83, 83);
        color: #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 4rem;
        margin-top: 100px;
         

       }

       .footer1 {
        margin-left: 20px;
        vertical-align: middle;
        
       }

       .footerh {
        color: #ffff;
        font-size: 35px;

       }

       .footerp {
         margin-top: 20px;
         width: 900px;
         font-size: 28px;

       }

       button {
        margin-top: 30px;
        padding: 12px 25px;
        background-color: #6366F1;
        color: white;
        font-size: 28px;
        border-radius: 9px;
        transition: 0.4s;
        cursor: pointer;


       }

       button:hover {
       background-color: #5153ed;
       

       }

       .footer2 {
        line-height: 70px;
        font-size: 28px;
        vertical-align: middle;

       }

       